<div class="main-container">
  <div class="header">
    共享车位数列表
  </div>
  <div class="table-content">
    <div class="table-header">
      <span>社区名称</span>
      <span>已共享车位数</span>
    </div>
    <div class="scroll-box" #scrollDiv (mouseenter)="onScrollDivMouseEnter()" (mouseleave)="onScrollDivMouseLeave()">
      <div class="scroll-box-item" *ngFor="let dataItem of dataList"
           [ngStyle]="{'background-color': dataItem.isOdd ? 'rgba(141, 184, 255, 0)':'rgba(141, 184, 255, 0.1)'}">
        <div class="scroll-box-title">
          {{dataItem.source.name}}
        </div>
        <div>
          {{dataItem.source.value}}
        </div>
      </div>
    </div>
  </div>
</div>
