<div id="main-container" style="width: 1920px; height: 1080px"></div>
<app-violation-statistics style="position: absolute; top: 105px; left: 12px"></app-violation-statistics>
<app-traffic-controller-violation style="position: absolute; top: 458px; left: 12px"></app-traffic-controller-violation>
<app-inspection-linkage style="position: absolute; top: 807px; left: 12px"></app-inspection-linkage>
<app-carousel-map style="position: absolute; top: 159px; left: 494px"></app-carousel-map>
<app-dishonest-person style="position: absolute; top: 718px; left: 494px"></app-dishonest-person>
<app-hotline style="position: absolute; top: 105px; left: 1449px"></app-hotline>
<app-complaint-types style="position: absolute; top: 488px; left: 1449px"></app-complaint-types>
<app-complaint-ranking style="position: absolute; top: 732px; left: 1449px"></app-complaint-ranking>
