<div class="security">
  <div class="column">
    <div class="inside-item">
      <app-left-one></app-left-one>
    </div>
    <div class="inside-item">
      <app-left-two></app-left-two>
    </div>
  </div>
  <div class="column" style="padding-top: 55px;">
    <div class="inside-item">
      <app-left-three></app-left-three>
    </div>
    <div class="inside-item">
      <app-left-four></app-left-four>
    </div>
  </div>
  <div class="column" style="padding-top: 55px;">
    <div class="inside-item">
      <app-right-one></app-right-one>
    </div>
    <div class="inside-item">
      <app-right-two></app-right-two>
    </div>
  </div>
  <div class="column">
    <div class="inside-item">
      <app-right-three></app-right-three>
    </div>
    <div class="inside-item">
      <app-right-four></app-right-four>
    </div>
  </div>
</div>
