<div id="inspection-linkage-container">
  <div class="title">巡查联动</div>
  <div class="item-content">
    <div>
      <div class="content-text">民警现场处罚</div>
      <div class="content">
        <app-magic-number [sHeight]="25" [sNumberWidth]="14" [sMaxLength]='3' [sFontSize]="24"
                          [sNumber]='linkageArray[0]'>
        </app-magic-number>
        <span>辆</span>
      </div>
    </div>
    <div>
      <div class="content-text">交通协管员和停车协管员等<br>贴条</div>
      <div class="content">
        <app-magic-number [sHeight]="25" [sNumberWidth]="14" [sMaxLength]='3' [sFontSize]="24"
                          [sNumber]='linkageArray[1]'>
        </app-magic-number>
        <span>辆</span>
      </div>
    </div>
    <div>
      <div class="content-text">违规抓拍探头取证</div>
      <div class="content">
        <app-magic-number [sHeight]="25" [sNumberWidth]="14" [sMaxLength]='3' [sFontSize]="24"
                          [sNumber]='linkageArray[2]'>
        </app-magic-number>
        <span>辆</span>
      </div>
    </div>
    <div>
      <div class="content-text">对违停车辆清理拖移</div>
      <div class="content">
        <app-magic-number [sHeight]="25" [sNumberWidth]="14" [sMaxLength]='3' [sFontSize]="24"
                          [sNumber]='linkageArray[3]'>
        </app-magic-number>
        <span>辆</span>
      </div>
    </div>
  </div>
</div>
